<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
      <link rel="stylesheet" href="/style.css">
  </header>

  <main>
    <div class="jumbotron">
      <h1>Find Collections By Name</h1>
      <div style="display: flex; justify-content: center;">
        
          <form class="form-inline" method="get" action="/nft/detailCollection/<%=collectionId%>">
            <div class="form-group mx-sm-3 mb-2">
              <input id="contractAddress" type="text" name="contractAddress" value="<%=contractAddress%>" hidden>
              <input class='form-control' id="tokenId" type="text" name="tokenId" placeholder="Token id..." required>
            </div>
            <button class='btn btn-info mb-2' type="submit"><i class="fa-solid fa-search"></i></button>
          </form>
      
      </div>

      <br>
      <%if(!collections) { %>
        <h1>Not Found Any Collection</h1>
        <% }else {%>
          <div class="wrap row">

            <% collections.forEach(function(collection) { %>

              <div class="card col-md-3 col-sm-6">
                <img src=<%=collection.image_url%> class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">
                    <%=collection.name%>
                  </h5>
                  <p class="card-text">
                    TOKEN ID: <%=collection.token_id%>
                  </p>
                </div>
              </div>
              <% }); %>
          </div>
          <%}%>
    </div>


  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>