<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
      <link rel="stylesheet" href="/style.css">
  </header>

  <main>
    <div class="jumbotron">
      <h1>Find NFTs by Collection</h1>
      <form autocomplete="off" method="get" action="/nft/detailCollection">
        <div class="autocomplete form-row">
          <div class="col-md-12 mb-3">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa-solid fa-search"></i></span>
              </div>
              <input class='form-control' id="nameCollection" type="text" name="nameCollection"
                placeholder="Search collections" onfocus="autoCompleteDefault()" required>
            </div>
          </div>
      </form>
      <br>
      <%if(collections) { %>
        <div class="wrap row">
          <% collections.forEach(function(collection) { %>

            <div class="card col-md-3 col-sm-6">
              <img src=<%=collection.logo%> class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">
                  <%=collection.name%>
                </h5>
                <p class="card-text">
                  Verified: <%=collection.verified%>
                </p>

                <a href="/nft/detailCollection/<%=collection.id%>?contractAddress=<%=collection.contracts[0]%>"
                  class="btn btn-primary">Explore</a>
              </div>
            </div>



            <% }); %>
        </div>
        <%}%>
          <%if(message!==null) { %>
            <h2>
              <%=message %>
            </h2>
            <% } %>
    </div>


  </main>
  <script>
    document
      .getElementById("nameCollection")
      .addEventListener("input", async (event) => {
        input = event.target.value;
        if (input.length > 0) {
          processChanges();
        }
      })
  </script>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>