<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
      <link rel="stylesheet" href="/style.css">
      <script src="https://cdn.jsdelivr.net/npm/@walletconnect/web3-provider@1.7.1/dist/umd/index.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Find NFTs by Wallet Address</h1>
      <form method="get" action="/nft/getNFTs">
        <div class="form-row">
          <div class="col-md-12 mb-3">
            <label>Find a NFTs By Wallet<span class="asterisk">*</span></label>
            <input class='form-control' id="walletAddress" type="text" name="walletAddress"
              placeholder="Wallet address..." value="<%=address ? address : ''%>" required>
          </div>
          <div class="col-md-12 mb-3">
            <input class='col-md-12 mb-3 btn btn-info' type="submit" value="Find" onclick="disconnect()">
            <button type='button' onclick="connectWC()" id="connect-button" class="btn btn-outline-secondary"><i
                class="fa-solid fa-wallet"></i></button>
          </div>
        </div>
      </form>
      <%if(images) { %>
        <ul>
          <% images.forEach(function(image) { %>
            <li>
              <img class="nft lazy-image" src="https://i.pinimg.com/originals/3f/2c/97/3f2c979b214d06e9caab8ba8326864f3.gif" data-src=<%=image.media[0].gateway %> width=250 height=250
              data-toggle="modal"
              data-target="#modal-select-image"
              data-link="<%=image.media[0].gateway%>"
                data-title="<%=image.title%>"
                  data-tokenid="<%=image.id.tokenId%> ">
            </li>
            <% }); %>
        </ul>
        <% } %>
          <%if(message) { %>
            <h2>
              <%=message %>
            </h2>
            <% } %>
    </div>
  </main>
 
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
  <script>
   
  </script>
</body>

</html>