<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
      <link rel="stylesheet" href="/style.css">
  </header>

  <main>
    <div class="jumbotron">
      <h1>Find NFTs by Opensea URL</h1>
      <form method="get" action="/nft/getNFTOpensea">
        <div class="find-opensea form-row">
          <div class="col-md-12 mb-3">
            <input class='form-control' type="text" name="url" placeholder="Opensea url..."
              value="<%=urlOpensea?urlOpensea:''%>" required>
          </div>
          <div class="col-md-12 mb-3">
            <input class='col-md-12 mb-3 btn btn-info' type="submit" value="Find">
          </div>
        </div>
      </form>

      <%if(image) { %>
        <img class="nft lazy-image" src="https://i.pinimg.com/originals/3f/2c/97/3f2c979b214d06e9caab8ba8326864f3.gif"
          data-src=<%=image.media[0].gateway %> width=250 height=250 data-toggle="modal"
        data-target="#modal-select-image"
        data-link="<%=image.media[0].gateway%>"
          data-title="<%=image.title%>"
            data-tokenid="<%=image.id.tokenId%> ">
              <% } %>
                <%if(message) { %>
                  <h2>
                    <%=message %>
                  </h2>
                  <% } %>
    </div>


  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>