<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
      <link rel="stylesheet" href="/style.css">
  </header>

  <main>
    <div class="jumbotron">
      <h1>NFT LIST</h1>

      <%if(!images) { %>
        <form method="get" action="/nft/getNFTs">
          <input id="walletAddress" type="text" name="walletAddress" placeholder="Wallet address..." required>
          <input type="submit" value="Find">
        </form>
        <% }else {%>
          <ul>
            <% images.forEach(function(image) { %>
              <li>
                <img src=<%=image %> width=250 height=250 onclick="callZekeke(`<%= image %>`)" data-toggle="modal"
                  data-target=".bd-example-modal-sm">
              </li>
              <% }); %>
          </ul>
         <%}%>

    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>

</html>