<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
    <link rel="stylesheet" href="/style.css">
  </header>
 
  <main>
    <div class="jumbotron">
      <h1>Find Specific NFT by Opensea</h1>
      <%if(!image) { %>
        <form method="get" action="/nft/getNFTOpensea">
          <input type="text" name="url" placeholder="Opean sea url..." required>
          <input type="submit" value="Find">
        </form>
        <% } %>

          <br>
          <%if(image) { %>
            <img src=<%=image.media[0].gateway %> width=250 height=250 onclick="callZekeke(`<%= image.media[0].gateway
              %>`)" data-toggle="modal" data-target=".bd-example-modal-sm">
              <% }else { %>
                <h1>Not found Image</h1>
                <% }%>
    </div>
  

  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>
  
</body>

</html>