<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
      <link rel="stylesheet" href="/style.css">
  </header>

  <main>
    <div class="jumbotron">
      <h1>Find NFTs By Wallet</h1>
      <form method="get" action="/nft/getNFTs">
        <div class="form-row">
          <div class="col-md-12 mb-3">
            <label>Find a NFTs By Wallet<span class="asterisk">*</span></label>
            <input class='form-control' id="walletAddress" type="text" name="walletAddress"
              placeholder="Wallet address..." required>
          </div>
          <div class="col-md-12 mb-3">
            <input class='col-md-12 mb-3 btn btn-info' type="submit" value="Find">
            <button id="connect-button" class="btn btn-outline-secondary"><i class="fa-solid fa-wallet"></i></button>
          </div>
        </div>
      </form>

      <%if(images) { %>
        <ul>
          <% images.forEach(function(image) { %>
            <li>
              <img class="nft" src=<%=image %> width=250 height=250 onclick="callZekeke(`<%= image %>`)"
                data-toggle="modal"
                data-target=".bd-example-modal-sm">
            </li>
            <% }); %>
        </ul>
        <% } %>
          <%if(message) { %>
            <h2>
              <%=message %>
            </h2>
            <% } %>
    </div>

  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>

</html>